@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__nuxt {
  height: 100%;
}

body {
  @apply bg-base-200 text-base-content antialiased;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e1ddddc7;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cecacac7;
}
