@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFont";
  font-display: swap;
  src: url("../font/Nunito/Nunito-Bold.ttf") format("truetype");
  /* 添加其他字体格式（可选） */
}

html,
body {
  height: 100%;
}

:root {
  scrollbar-width: none;
}

@layer base {
  :root {
    --background: 40 36% 95%;
    --foreground: 240 6% 10%;

    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;

    --primary: 226 82% 55%;
    --primary-foreground: 0 0% 100%;

    --secondary: 40 36% 96%;
    --secondary-foreground: 240 6% 10%;

    --muted: 40 24% 95%;
    --muted-foreground: 240 4% 46%;

    --accent: 222 100% 97%;
    --accent-foreground: 226 82% 55%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 226 82% 55%;

    --radius: 1rem;
  }

  .dark {
    --background: 222 47% 8%;
    --foreground: 0 0% 98%;

    --card: 222 47% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 222 47% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 226 82% 62%;
    --primary-foreground: 0 0% 100%;

    --secondary: 222 30% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 222 30% 15%;
    --muted-foreground: 220 12% 68%;

    --accent: 226 82% 20%;
    --accent-foreground: 226 100% 88%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 222 30% 18%;
    --input: 222 30% 18%;
    --ring: 226 82% 62%;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
} */

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}

.dark::view-transition-old(root) {
  z-index: 9999;
}

.dark::view-transition-new(root) {
  z-index: 1;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e1ddddc7;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cecacac7;
}

.dark ::-webkit-scrollbar-thumb {
  background: #3b3c46;
  border-radius: 7px;
}
